*{
margin:0px;
padding: 0px;}

.hamburger {
    display:none;
    cursor: pointer;
    margin-left: 40px;
    margin-top: 50px;

}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.2s;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}
#stepone{
	position: absolute;
	top:-50px;
	width: 1140px;
}
#stepone li:first-child{
	float:left;
}
#stepone li:nth-child(2){
	float:right;
}
#logo1{
display: block;
margin-left: auto;
margin-right: auto;	
}
#header{
	position: relative;
}
#header .nawigacja li{
	margin-left: 60px;
	width: 180px;
	height: 50px;
	border:2px solid #cccccc;
	border-radius: 10px;
	text-transform: uppercase;
	text-align: center;
	display: table;
}
#header .nawigacja li:first-child{
	margin-left: 0px;
}
#steptwo{
	margin-top: 20px;
}
#steptwo li{
	float:left; 
}
#steptwo li:last-child{
	float:right;
}
#steptwo li:first-child{
	float:left;
	background-color: #7f7f7f;
}
#header .nawigacja li a{
	color:black;
	font-size:1.3em;
	display: table-cell;
	vertical-align: middle;
}
#header .nawigacja li:hover{
	background-color: #7f7f7f;
}
#header .nawigacja li a:hover{
	color:#fff;
	text-decoration: none;
}
#stepone li:nth-child(2):hover{
	background-color: #85c226;
}
#cien{
	width: 686px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#content{
	background-color: #e5e5e5;
	margin-top: 20px;	
}
#contentpanel p{
	color:#8d8d8d;
	font-size: 1.0em;
	margin-top:5px;
	text-align: justify;
	float:left;
}
#footer{
	padding-top: 30px;
}
#footer  input{
	width: 300px;
	height: 30px;
	border:1px solid #cccccc;
	border-radius: 5px;
	font-size: 1em;
	color: #cecece;
	font-weight: bold;
	padding-left: 10px;
	margin-top: 20px;
}
#footer button{
	background-color: white;
	color: #cecece;
	width: 110px;
	height: 30px;
	border:1px solid #cccccc;
	border-radius: 5px;
	font-size: 1em;
	text-transform: uppercase;
}
#footer button:hover{
	background-color: #7f7f7f;
	color:white;
}
#footer p{
	float:left;
	margin-left: 5px;
	margin-top: 10px;
}
#footer span{
	float:left;
	margin-left: 5px;
	margin-top: 10px;
}
#footer p:hover{
	color:#86c228;
	cursor: pointer;
}
#footer img{
	float:left;
	
}
#footer_contact {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}
#footer_news{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

#monopixel{
	background-color: #e5e5e5;
	margin-top: 30px;
	padding-top: 25px;
}
#monopixel img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#panelactive h5{
	color:#85c226;
}
#about_content_left{
	text-align: justify;
}
#about_content_left img{
float: right;
margin:10px 0 10px 10px;
}
#feedback{
	background-color: #7e7f7f;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	padding-left: 20px;
	
}
#feedback h3{
	color:#fff;
	font-size: 1.4em;
	text-transform: uppercase;
	margin-left: 15px;
}
#about_content_right{
	border:1px solid #7e7f7f;
	border-radius: 20px;
	min-height: 500px;
	background-color: #efefef;
	margin-bottom: 40px;
	position: relative;
	
}
#about_content_right .prawaopinia span{
	float:right;
	font-weight: bold;
	color:#666666;
}
#about_content_right .prawaopinia{
	padding-left: 20px;
	padding-right: 20px;
	text-align: justify;
	margin-top: 15px;
	color:#666666;
}
#about_nawigacja button{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border:1px solid black;
	margin-left: 5px;
}
#about_nawigacja button:hover{
	border:0px;
}
#about_nawigacja img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#about_nawigacja{
	position:absolute;
	top:95%;
	left:60%;
}


@media only screen and (max-width: 1200px){

#header .nawigacja li{
	width: 157px;
	margin-left: 4%;	
}
#header .nawigacja  li a{
	font-size:1.0em;
}
#stepone{
	width: 940px;
}
#about_content_right{
	min-height: 560px;
}
}

@media only screen and (max-width: 990px){

#header .nawigacja li{
	width: 125px;	
	margin-left: 3%;
}
#stepone{
	top:-30px;
	width: 720px;
}
#steptwo{
	margin-top: 40px;
}
#logo1{
	width: 420px;
}
#header .nawigacja  li a{
	font-size:0.9em;
}
#trolley img{
	width: 20px;
}
#about_content_right{
	min-height: 360px;
	margin-top: 40px;
}
#about_nawigacja{
	top:93%;
}
}

@media only screen and (max-width: 770px){
#footer{
	padding-left: 15%;
}
}

@media only screen and (max-width: 757px){

#header .nawigacja li{
	width: 49%;
	margin-top: 5px;
	margin-left: 0px;
	margin-right: 5px;
}
#steptwo{
	margin-top: 0px;
}
#steptwo li:last-child{
	float:left;
}
#header .nawigacja  li a{
	font-size:1.2em;
}
#stepone{
	position: static;
	margin-top: 50px;
	width: auto;
	}
#trolley img{
	width: 20px;
}
#logo1{
	width: 400px;
}
#stepone li:nth-child(2){
	float:left;
}
#about_content_right{
	margin-top: 40px;
}
}


@media only screen and (max-width: 680px){

#about_content_right{
	min-height: 380px;
	margin-top: 40px;
}
#about_nawigacja{
	left:50%;
}
}

@media only screen and (max-width: 650px){

#footer{
	padding-left: 10%;
}	
}

@media only screen and (max-width: 630px){

#header .nawigacja  li a{
	font-size:1.1em;
}
}

@media only screen and (max-width: 547px){

#header .nawigacja li{
	width: 100%;
}
.hamburger{
	display: inline-block;
}
.nawigacja{
	display: none;
}
#header .nawigacja  a{
	
font-size:1.2em;
}
#trolley img{
	width: 27px;
}
#about_content_right{
	min-height: 440px;
}
#footer img{
	margin-left: 0px;
}
#footer_contact {
	width: 400px;
}
#footer_news{
	width: 400px;
}
#footer button{
	margin-top: 10px;
}
}

@media only screen and (max-width: 500px){

#about_content_right{
	min-height: 480px;
}
#about_nawigacja{
	left:40%;
	top:95%;
}
}
	
@media only screen and (max-width: 415px){

#about_content_right{
	min-height: 510px;
}
#about_nawigacja{
	left:30%;
}
}

@media only screen and (max-width: 400px){

#footer{
	padding-left: 0%;
}
#footer_contact {
	width: 250px;
}
#footer_news{
	width: 250px;
}
}

@media only screen and (max-width: 380px){

#about_content_right{
	min-height: 570px;
}
#about_nawigacja{
	left:10%;
}
#footer input{
	width: 250px;
}
}

@media only screen and (max-width: 322px){

#about_content_right{
	min-height: 640px;
}
#about_nawigacja{
	top:96%;
}
}