*{
margin:0px;
padding: 0px;}


.hamburger {
    display: inline-block;
    cursor: pointer;
    margin-left: 40px;
    margin-top: 50px;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.2s;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}
#stepone{
	position: absolute;
	top:-50px;
	width: 1140px;
}
#stepone li:first-child{
	float:left;
}
#stepone li:nth-child(2){
	float:right;
}
#logo1{
display: block;
margin-left: auto;
margin-right: auto;	
}
#header{
	position: relative;
}
#header .nawigacja li{
	margin-left: 5%;
	width: 180px;
	height: 50px;
	border:2px solid #cccccc;
	border-radius: 10px;
	text-transform: uppercase;
	text-align: center;
	display: table;
}
#header .nawigacja li:first-child{
	margin-left: 0px;
}
#steptwo{
	margin-top: 20px;
}
#steptwo li{
	float:left;
}
#steptwo li:last-child{
	float:right;
}
#steptwo li:nth-child(2){
	float:left;
	background-color: #7f7f7f;
	color:#fff;
}
#trolley{
	position: relative;
}
#header .nawigacja  a{
	color:black;
	font-size:1.3em;
	display: table-cell;
	vertical-align: middle;
}
#header .nawigacja li:hover{
	background-color: #7f7f7f;
}
#header .nawigacja li a:hover{
	color:#fff;
	text-decoration: none;
}
#stepone li:nth-child(2):hover{
	background-color: #85c226;
}

#cien{
	width: 686px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#content{
	background-color: #e5e5e5;
	margin-top: 20px;
	padding-bottom: 40px;	
}
#contentpanel p{
	color:#8d8d8d;
	font-size: 1.0em;
	margin-top:5px;
	text-align: justify;
	float:left;
}
#footer{
	padding-top: 30px;
}
#footer  input{
	width: 300px;
	height: 30px;
	border:1px solid #cccccc;
	border-radius: 5px;
	font-size: 1em;
	color: #cecece;
	font-weight: bold;
	padding-left: 10px;
	margin-top: 20px;
}

#footer button{
	background-color: white;
	color: #cecece;
	width: 110px;
	height: 30px;
	border:1px solid #cccccc;
	border-radius: 5px;
	font-size: 1em;
	text-transform: uppercase;
}
#footer button:hover{
	background-color: #7f7f7f;
	color:white;
}
#footer span{
	float:left;
	margin-left: 5px;
	margin-top: 10px;
}
#footer p{
	float:left;
	margin-left: 5px;
	margin-top: 10px;
}
#footer p:hover{
	color:#86c228;
	cursor: pointer;
}
#footer img{
	float:left;
	
}
#footer_contact {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}
#footer_news{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

#monopixel{
	background-color: #e5e5e5;
	margin-top: 30px;
	padding-top: 25px;
}
#monopixel img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#panelactive h5{
	color:#85c226;
}
#plates_content{
	margin-bottom: 30px;
}
#plates_content p{
	color:#666666;
	font-weight: bold;
	font-size: 1.0em;
	text-align: justify;
}
#plates_product p{
 font-size:0.9em;
 color:#666666;
 text-align: justify;
}
#plates_product_left{
	border:2px solid red;
}
.plates_border_left{
	border-right:1px solid #6a6a6a;
}
#plates_x{
	float:right;
	margin-right: 5px;
	margin-top:5px;
	margin-bottom: 5px;
}
.no-padding{
	padding:0px !important
}
.no-padding-left{
	padding-left:0px !important
}
.no-padding-right{
	padding-right:0px !important
}
.simple_product{
	margin-top: 40px;

}
.simple_product img{
	margin-bottom: 30px;
}
.simple_product button{
background: url(images/button_back.png) ;
width: 110px;
height: 27px;
margin-left: auto;
margin-right: auto;
display: block;
border:none;
color: #fff;
text-align: center;
position: relative;
text-transform: uppercase;
margin-top:30px;

}
.simple_product button img{
	position: absolute;
	left:-30px;
	top:-5px;
}
.simple_product button:hover{
	background:#85c226;
	
}
#plates_trolley{
	width: 400px;
	height: 250px;
	border:1px solid #85c226;
	border-radius: 3%;
	margin-left: auto;
	margin-right: auto;
margin-bottom: 40px;
z-index: 1;
position: absolute;
right: 0px;
background-color: #fff;
}
#plates_right img{
display:block;
margin-left: auto;
margin-right: auto;
}
#plates_left img{
display:block;
margin-left: auto;
margin-right: auto;
}
.popup_product img{
	float:left;
	margin-left: 30px;
	margin-top: 20px;
	width: 40%;
}
.popup_product p{
	float:right;
	color:#7a7a7a;
	font-size: 1.2em;
	margin-right: 20px;
	margin-top: 30px;
}
#popup_trolley button{
	float:left;
	margin-top: 20px;
	background-color: #85c226;
	color:#fff;
	width: 50%;
	text-transform: uppercase;
	border: none;
	padding: 10px;
	font-size: 1.2em;
	margin-left: 10px;
	border-radius: 5%;
}
#popup_trolley p{
	float:right;
	color:#4c4c4c;
	font-size: 1.2em;
	margin-right: 20px;
	margin-top: 25px;
	font-weight: bold;
	margin-bottom:0px;
}
#popup_trolley label{
	float:left;
	margin-top: 25px;
	margin-left: 40px;
	font-size: 1.2em;
	color: #4c4c4c;
}
#popup_trolley span{
	float:right;
	font-size: 0.8em;
	margin-top: 0px;
	margin-right: 20px;
}
.popup_product{
	width:100%;
}
.hamburger{
	display:none;
}


@media only screen and (max-width: 1200px){

#header .nawigacja li{
	width: 150px;	
}
#stepone{
	width: 940px;
}
}

@media only screen and (max-width: 990px){

#header .nawigacja li{
	width: 125px;	
	margin-left: 3%;	
}
#stepone{
	top:-30px;
	width: 720px;
}
#steptwo{
	margin-top: 40px;
}
#logo1{
	width: 420px;
}
#header .nawigacja  a{
	font-size:1.0em;
}
.simple_product button{
	width: 180px;
	margin-bottom: 30px;
}
.no-padding-right{
	padding-right: 0px !important;
	padding-left: 0px !important;
}
.no-padding-left{
	padding-left: 0px !important;
	padding-right: 0px !important;
}
#plates_left{
	padding-right: 15px;
}
#plates_right{
	padding-left: 15px;
}
}

@media only screen and (max-width: 757px){

#header .nawigacja li{		
	width: 49%;
	margin-top: 5px;
	margin-left: 0px;
	margin-right: 5px;
}
#steptwo  li:nth-child(2){
	display: none;
}
#steptwo{
	margin-top: 0px;
}
#steptwo li:last-child{
	float:left;
}
#stepone{
	position: static;
	margin-top: 50px;
	width: auto;
}
#trolley img{
	width: 20px;
}
#logo1{
	width: 400px;
}
#stepone li:nth-child(2){
	float:left;
}
.plates_border_left{
	border:none;
}
}

@media only screen and (max-width: 770px){

#footer{
	padding-left: 15%;
}
}

@media only screen and (max-width: 650px){
#footer{
	padding-left: 10%;
}
}

@media only screen and (max-width: 547px){

#header .nawigacja li{
	width: 100%;
}
.hamburger{
	display: inline-block;
}
.nawigacja{
	display: none;
}

#header .nawigacja  a{
	font-size:1.2em;
}
#trolley img{
	width: 27px;
}
.plates_border_left{
	border:none;
}
#footer img{
	margin-left: 0px;	
}
#footer_contact {
	width: 400px;
}
#footer_news{
	width: 400px;
}
#footer button{
	margin-top: 10px;
}
}

@media only screen and (max-width: 400px){

#footer{
	padding-left: 0%;
}
#footer_contact {
	width: 250px;
}
#footer_news{
	width: 250px;
}
#plates_trolley{
	width: 98%;
	height: 260px;
	right: 1%;
	left: 1%;
}
#popup_trolley button{
	width: 45%;
}
}
@media only screen and (max-width: 380px){

#footer input{
	width: 250px;
}
}