*{
margin:0px;
padding: 0px;
}
*:focus {
    outline: none !important;
}
#body{
	min-width: 470px;
}
.hamburger {
   display:none;
    cursor: pointer;
    margin-left: 40px;
    margin-top: 50px;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.2s;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}
#stepone{
	position: absolute;
	top:-50px;
	width: 1140px;
}
#stepone li:first-child{
	float:left;
}
#stepone li:nth-child(2){
	float:right;
}
#logo{
margin-left:4%;	
}
#header .nawigacja li{
	margin-left: 5%;
	width: 180px;
	height: 50px;
	border:2px solid #cccccc;
	border-radius: 10px;
	text-transform: uppercase;
	text-align: center;
	display: table;
}
#header .nawigacja li:first-child{
	margin-left: 0px;
}
.no-padding{
	padding:0px !important
}
.no-padding-left{
	padding-left:0px !important
}
.no-padding-right{
	padding-right:0px !important
}
#steptwo{
	margin-top: 20px;
}
#steptwo li{
	float:left; 
}
#steptwo li:last-child{
	float:right;
}
#steptwo li:first-child{
	float:left;
}
#header .nawigacja li a{
	color:black;
	font-size:1.3em;
	display: table-cell;
	vertical-align: middle;
}
#header .nawigacja li:hover{
	background-color: #7f7f7f;
}
#header .nawigacja li a:hover{
	color:#fff;
	text-decoration: none;
}
#stepone li:nth-child(2):hover{
	background-color: #85c226;
}
#cien{
	width: 686px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#content{
	background-color: #e5e5e5;
	margin-top: 20px;	
}
.info1:last-child{
	margin-left: 0px;
	margin-right: 0px;
	float:right;
}
.info1{
	width: 150px;
	height: auto;
	background-color: #e5e5e5;
	text-align: center;
	float: left;
	margin-top: 10px;
line-height: 140px;
margin-left: 100px;

}
.info1:first-child{
	margin-left: 0px;
}
.przycisk{
	width:100%;
	border-radius:100px;
	border:0px;
}

.info1 h5{
	color:black;
	font-size: 1.7em;
	text-align: center;
	font-weight: bold;
	padding-bottom: 30px;
	margin-bottom: 0px;
}
.contentactive{
	background: url(images/strzalka.png) bottom center no-repeat;
}
#contentpanel p{
	color:#8d8d8d;
	font-size: 1.0em;
	margin-top:5px;
	text-align: justify;
	float:left;
}
#contentpanel p:first-child{
	border-top:1px solid black;
	margin-top: 0px;
	padding-top: 10PX;
}
#contentpanel h4{
	margin-top: 20px;
}
#contentpanel img{
	margin-top: 20px;
	float:right;
	width: 100%;
	margin-bottom: 40px;
}
#footer{
	padding-top: 30px;
}
#footer  input{
	width: 300px;
	height: 30px;
	border:1px solid #cccccc;
	border-radius: 5px;
	font-size: 1em;
	color: gray;
	font-weight: bold;
	padding-left: 10px;
	margin-top: 20px;
}
#footer button{
	background-color: white;
	color: gray;
	width: 110px;
	height: 30px;
	border:1px solid #cccccc;
	border-radius: 5px;
	font-size: 1em;
	text-transform: uppercase;
}
#footer button:hover{
	background-color: #7f7f7f;
	color:white;
}
#footer p{
	float:left;
	margin-left: 5px;
	margin-top: 10px;
}
#footer span{
	float:left;
	margin-left: 5px;
	margin-top: 10px;
}

#footer p:hover{
	color:#86c228;
	cursor: pointer;
}
#footer img{
	float:left;
}
#footer_contact {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}
#footer_news{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

#monopixel{
	background-color: #e5e5e5;
	margin-top: 30px;
	padding-top: 25px;

}
#monopixel img{
	display: block;
	margin-left: auto;
	margin-right: auto;

}
#panelactive h5{
	color:#85c226;
}





@media only screen and (max-width: 1200px){

#header .nawigacja li{
	width: 157px;
	margin-left: 4%;	
}
#header .nawigacja  li a{
	font-size:1.0em;
}

#stepone{
	width: 940px;
	}
#logo{
	margin-left:0%;	
}

.info1{
margin-left: 50px;
}
}


@media only screen and (max-width: 990px){

#header .nawigacja li{
	width: 125px;	
	margin-left: 3%;		
	}
#stepone{
	top:-30px;
	width: 720px;
}
#steptwo{
	margin-top: 40px;
	}
#logo1{
	width: 420px;
}
#header .nawigacja  li a{
	
	font-size:0.9em;
}
#trolley img{
	width: 20px;
}
.info1{
	width: 100px;
	line-height: 90px;
	margin-left: 55px;
}
.przycisk img{
	width: 40px;
}
.info1 h5{
	font-size: 1.2em;
}
#contentpanel p{
	font-size: 0.95em;	
}
.info1 h5{
	font-size: 1.3em;	
}
}

@media only screen and (max-width: 770px){

#footer{
	padding-left: 15%;
}
}

@media only screen and (max-width: 757px){

#header .nawigacja li{
			
	width: 98%;
	margin-top: 5px;
	margin-left: 0px;
	margin-right: 5px;	
}

#steptwo{
	margin-top: 0px;
	width: auto;
}
#steptwo li:last-child{
	float:left;
}
#header .nawigacja  li a{
	font-size:1.2em;
}
#stepone{
	position: static;
	margin-top: 50px;
	width: auto;
}
#trolley img{
	width: 20px;
}
#logo1{
	width: 400px;
}
#stepone li:nth-child(2){
	float:left;
}
.hamburger{
	display: inline-block;
}
.nawigacja{
	display: none;
}
.info1{
	margin-left: 45px;
	
}
.info1:last-child{
	margin-left: 45px;
	margin-right: auto;
	float:right;
}
}
@media only screen and (max-width: 730px){
.info1{
	margin-left: 40px;
	
}
.info1:last-child{
	margin-left: 40px;
}
}
@media only screen and (max-width: 710px){
.info1{
	margin-left: 30px;
	
}
.info1:last-child{
	margin-left: 30px;
}
}
@media only screen and (max-width: 670px){
.info1{
	margin-left: 25px;
	
}
.info1:last-child{
	margin-left: 25px;
}
}

@media only screen and (max-width: 650px){
#footer{
	padding-left: 10%;
}
.info1{
	margin-left: 20px;
	
}
.info1:last-child{
	margin-left: 20px;
}	
}

@media only screen and (max-width: 630px){

#header .nawigacja  li a{
	
	font-size:1.1em;
}
#trolleyx{
	margin-right: 15px;
	margin-bottom: 5px;
}
.info1{
	margin-left: 15px;
	
}
.info1:last-child{
	margin-left: 15px;
}
}

@media only screen and (max-width: 608px){
.info1{
	margin-left: 10px;
	
}
.info1:last-child{
	margin-left: 10px;
}
}
@media only screen and (max-width: 590px){
.info1{
	margin-left: 5px;
	
}
.info1:last-child{
	margin-left: 5px;
}
}
@media only screen and (max-width: 565px){
.info1{
	width: 80px;
	line-height: 70px;
	margin-left: 25px;
}
.przycisk img{
	width: 30px;
}
.info1:last-child{
	margin-left: 25px;
}
.info1 h5{
	font-size: 0.9em;
}
#contentpanel p{
	font-size: 0.85em;	
}
#contentpanel h4{
	font-size: 1.2em;	
}
}

@media only screen and (max-width: 547px){

#header .nawigacja li{
	width: 100%;
}
#stepone{
	position: static;
	margin-top: 50px;
	width: 100%;
	}
#steptwo{
	margin-top: 0px;
	width: 100%;
}
#header .nawigacja  a{
	font-size:1.2em;
}
#trolley img{
	width: 27px;
}
#footer img{
	margin-left: 0px;
}
.info1{
	margin-left: 20px;
	
}
.info1:last-child{
	margin-left: 20px;
}
#footer_contact {
	width: 400px;
}
#footer_news{
	width: 400px;
}
#footer button{
	margin-top: 10px;
}
}
@media only screen and (max-width: 525px){
.info1{
	margin-left: 15px;
	
}
.info1:last-child{
	margin-left: 15px;
}
}
@media only screen and (max-width: 510px){
.info1{
	margin-left: 10px;
	
}
.info1:last-child{
	margin-left: 10px;
}
#footer_contact {
	width: 300px;
}
#footer_news{
	width: 300px;
}
}

@media only screen and (max-width: 400px){

#footer{
	padding-left: 0%;
}
#footer_contact {
	width: 250px;
}
#footer_news{
	width: 250px;
}
}

@media only screen and (max-width: 380px){
#footer input{
width: 250px;
}
}