*{
margin:0px;
padding: 0px;}
.maybe{
	overflow-x: auto;
	margin-bottom: 35px;
}
.hamburger {
   display:none;
    cursor: pointer;
    margin-left: 40px;
    margin-top: 50px;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.2s;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}
#stepone{
	position: absolute;
	top:-50px;
	width: 1140px;
}
#stepone li:first-child{
	float:left;
}
#stepone li:nth-child(2){
	float:right;
}
#logo1{
display: block;
margin-left: auto;
margin-right: auto;	
}
#header{
	position: relative;
}
#header .nawigacja li{
	margin-left: 60px;
	width: 180px;
	height: 50px;
	border:2px solid #cccccc;
	border-radius: 10px;
	text-transform: uppercase;
	text-align: center;
	display: table;
}
#header .nawigacja li:first-child{
	margin-left: 0px;
}
#steptwo{
	margin-top: 20px;
}
#steptwo li{
	float:left; 
}
#steptwo li:last-child{
	float:right;
}
#steptwo li:first-child{
	float:left;
}
#header .nawigacja li a{
	color:black;
	font-size:1.3em;
	display: table-cell;
	vertical-align: middle;
}
#header .nawigacja li:hover{
	background-color: #7f7f7f;
}
#header .nawigacja li a:hover{
	color:#fff;
	text-decoration: none;
}
#stepone li:nth-child(2){
	background-color: #85c226;
}
#cien{
	width: 686px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#content{
	background-color: #e5e5e5;
	margin-top: 20px;
	padding-bottom: 30px;	
}
#content .col-lg-7{
	padding: 0px;
}
#content .col-lg-5{
	padding: 0px;
}
#contentpanel p{
	color:#8d8d8d;
	font-size: 1.0em;
	margin-top:5px;
	text-align: justify;
	float:left;

}
#footer{
	padding-top: 30px;
}
#footer  input{
	width: 300px;
	height: 30px;
	border:1px solid #cccccc;
	border-radius: 5px;
	font-size: 1em;
	color: #cecece;
	font-weight: bold;
	padding-left: 10px;
	margin-top: 20px;
}
#footer button{
	background-color: white;
	color: #cecece;
	width: 110px;
	height: 30px;
	border:1px solid #cccccc;
	border-radius: 5px;
	font-size: 1em;
	text-transform: uppercase;
}
#footer button:hover{
	background-color: #7f7f7f;
	color:white;
}
#footer p{
	float:left;
	margin-left: 5px;
	margin-top: 10px;
}
#footer span{
	float:left;
	margin-left: 5px;
	margin-top: 10px;
}
#footer p:hover{
	color:#86c228;
	cursor: pointer;
}
#footer img{
	float:left;
}
#footer_contact {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}
#footer_news{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

#monopixel{
	background-color: #e5e5e5;
	margin-top: 30px;
	padding-top: 25px;

}
#monopixel img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#panelactive h5{
	color:#85c226;
}
#about_content_left{
	text-align: justify;
}
#about_content_left img{
float: right;
margin:10px 0 10px 10px;
}
#content table {
	width: 100%;
	 border-collapse: separate;
    border-spacing: 10px 25px;
    margin-top: 40px;
}
.no-padding{
	padding:0px !important
}
.no-padding-left{
	padding-left:0px !important
}
.no-padding-right{
	padding-right:0px !important
}
#content table h2{
	font-size: 1.3em;
	text-transform: uppercase;
	font-weight: bold;
	color: #757575;
	text-align:center;
}
#content table h5{
	font-size: 1.0em;
	text-align: center;
}
#content table p{
	font-size: 0.8em;
	margin-bottom: 0px;
}
#content table span{
	font-size: 0.8em;
	margin-top: 0px;
	font-weight: bold;
}
#content table th{
	background-color: #f2f2f2;
	border:1px solid #a6a6a6;

}
#content table th:first:child{
	width: 35%;
}
#content table th:nth-child(2){
	width: 45%;
}
#content table th:last-child{
	width: 20%;
}
#trolleyx{
	margin-right: 30px;
}
#content table h4{
	font-size: 1.4em;
	font-weight: bold;
	float:right;
	color: #4c4c4c;
}
#content  .table_pay {
	width: 98%;
	border-collapse: collapse;
 	margin-bottom: 40px;
}
#content .table_pay td{
 width: 20%;
}
#content .table_pay th{
	border-right: none;
}
#content .table_pay h5{
	font-size: 1.4em;
	font-weight: bold;
	text-align: center;
	color: #4c4c4c;
	margin-bottom: 0px;
}
#content .table_pay span {
	font-size: 0.7em;
	margin-top: 3px;
	float: right;
	margin-right: 20px;
	margin-bottom: 15px;
}
#content .table_pay tr:last-child{

	background-color: #f2f2f2;
	border:1px solid #a6a6a6;
	width: 100%;
   	height: 40px;
}
#delivery h1{
	color:#666666;
	font-size: 1.4em;
	margin-right: 35px;
	font-weight: bold;
	float: right;
}
#delivery label{
	color:#666666;
	font-size: 1.2em;
	margin-right: 5px;
	width: 20%;
	font-weight: normal;
	margin-left: 40px;
	float: right;
	margin-top: 25px;
}
#delivery label:nth-child(3){
	margin-top: 0px;
}
#delivery input{
	height: 40px;
	margin-top: 15px;
	border-radius: 5px;
	border:1px solid #666;
	float: right;
	padding-left: 10px;
}
.delivery_detail{
	width: 100%;
}
.delivery_type label{
	margin-left: 20px;
	color:#747474;
	font-weight: normal;
	font-size: 0.9em;
}
.delivery_type span{
	color: #1680d1;
	font-weight: bold;
}
#payment a{
	margin-left: 5px;
	float: right;
}
#payment a:last-child{
	float:right;
	margin-top: 20px;
}
#payment{
margin-top: 50px;
}


@media only screen and (max-width: 1200px){

#header .nawigacja li{
	width: 157px;
	margin-left: 4%;	
}
#header .nawigacja  li a{
	font-size:1.0em;
}
#stepone{
	width: 940px;
}
#delivery label{
	width: 25%;
	margin-left: 5px;
}
#payment a:first-child{
	margin-left: 0px;
}
#payment a{
	margin-top: 30px;
	float: left;
}
#payment a:last-child{
	margin-top: 30px;
	float: left;
}
#trolleyx{
	margin-right: 10px;
}
}

@media only screen and (max-width: 990px){

#header .nawigacja li{
	width: 125px;	
	margin-left: 3%;
}
#stepone{
	top:-30px;
	width: 720px;
}
#steptwo{
	margin-top: 40px;
}
#logo1{
	width: 420px;
}
#header .nawigacja  li a{
	font-size:0.9em;
}
#trolley img{
	width: 20px;
}
#delivery label{
	float: left;
	position: relative;
	width: 15%;
}
.margin_delivery{
	margin-bottom: 35px;
}
#delivery input{
	position: absolute;
}
#delivery h1{
	float: left;
}
#delivery{
	margin-top: 50px;
}
}


@media only screen and (max-width: 770px){

#footer{
	padding-left: 15%;
}
}

@media only screen and (max-width: 757px){

#header .nawigacja li{
	width: 100%;
	margin-top: 5px;
	margin-left: 0px;
	margin-right: 5px;
}
#steptwo{
	margin-top: 0px;
	width: 50%;
}
#steptwo li:last-child{
	float:left;
}
#header .nawigacja  li a{
	font-size:1.2em;
}
#stepone{
	position: static;
	margin-top: 50px;
	width: 50%;
	}
#trolley img{
	width: 20px;
}
#logo1{
	width: 400px;
}
#stepone li:nth-child(2){
	float:left;
}
.hamburger{
	display: inline-block;
}
.nawigacja{
	display: none;
}
}

@media only screen and (max-width: 650px){

#footer{
	padding-left: 10%;
}	
}

@media only screen and (max-width: 630px){

#header .nawigacja  li a{
	font-size:1.1em;
}
#trolleyx{
	margin-right: 15px;
	margin-bottom: 5px;
}
#delivery label{
	width: 20%;
}
.delivery_type input{
	display: block;
	float: left;
	width: 10%;
}
.delivery_type label{
	display: block;
	float: left;
	width: 85%;
	margin-left: 4%;
}

}

@media only screen and (max-width: 547px){

#header .nawigacja li{
	width: 100%;
}
#stepone{
	position: static;
	margin-top: 50px;
	width: 100%;
}
#steptwo{
	margin-top: 0px;
	width: 100%;
}

#header .nawigacja  a{
	font-size:1.2em;
}
#trolley img{
	width: 27px;
}
#footer img{
	margin-left: 0px;
}
#content table th{
	padding: 5px;
}
#content table h2{
	font-size: 1.0em;
}
#content .table_pay span{
	margin-right: 5px;
}
#footer_contact {
	width: 400px;
}
#footer_news{
	width: 400px;
}
#footer button{
	margin-top: 10px;
}
#content .table_pay h5{
	margin-right: 15px;
	margin-left: 15px;
}
}
@media only screen and (max-width: 430px){
#delivery input{
	
	width: 55%;	
}
#delivery label{
	
	width: 40%;
	position: normal;
}
#footer_contact {
	width: 300px;
}
#footer_news{
	width: 300px;
}
}
@media only screen and (max-width: 400px){

#footer{
	padding-left: 0%;
}
#footer_contact {
	width: 250px;
}
#footer_news{
	width: 250px;
}
}

@media only screen and (max-width: 380px){

#footer input{
	width: 250px;
}
}